/* NearbyCategories.module.css */
.next-arrow,
.prev-arrow {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.next-arrow:hover,
.prev-arrow:hover {
  background: #f3f4f6 !important;
}

.next-arrow::before,
.prev-arrow::before {
  color: #585d69 !important;
  font-size: 20px !important;
}

/* Additional styles if needed */
