@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide slider content until fully loaded */
.slick-slider:not(.slick-initialized) {
  visibility: hidden;
  opacity: 0;
}

.slick-slider.slick-initialized {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* Slick arrow button styles */
.slick-prev,
.slick-next {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.slick-prev:hover,
.slick-next:hover {
  background: #f3f4f6 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #585d69 !important;
  font-size: 20px !important;
}

/* Position adjustments */
.slick-prev {
  left: -35px !important;
}

.slick-next {
  right: -35px !important;
}
/* Hide default scrollbar for the virtual list */
.rc-virtual-list-scrollbar {
  display: none !important;
}

.searchbar_autocomplete > .ant-select-clear {
  display: none !important;
}
