@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide slider content until fully loaded */
.slick-slider:not(.slick-initialized) {
  visibility: hidden;
  opacity: 0;
}

.slick-slider.slick-initialized {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
div {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.ant-image-preview-mask {
  background-color: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(4px);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
